@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family:Ubuntu ;
  
}
::-webkit-scrollbar {
    width: 2px;
    /* background-color: red; */
}
::-webkit-scrollbar-track {
    background-color:rgb(255, 255, 255); /* Color of the scrollbar track */
}
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 10px 20px; */
    min-height: 80px;
    width: 100%;
    background-color: rgb(237, 249, 252);
    transition: background-color 0.5s ease;
    position: fixed;
}
.scrolled {
    background-color: #333; /* New background color when scrolled */
    color: white;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 25px;
}
.navbar h2{
    margin-left: 30px;
}
.navbar ul li{
    list-style: none;
    font-size: 17px;
}
.navbar ul li:hover{
    color: orangered;
    transition: all 0.3s ease;
    cursor: pointer;
}
.media-icons{
    margin: 0px 30px;
    display: flex;
    gap: 10px;
}
.text{
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
}
.profile{
    background-image: url(./background.png);
    background-attachment: fixed;
    background-size: cover;
    height: 650px;
    width: 100%;
}
.text{
    padding: 250px 100px;
    display: flex;
    font-size: 25px;
}
.text h1{
    font-size: 70px;
}
.text h2{
    font-size: 30px;
}
.text button{
    margin-top: 10px;
    width: 130px;
    height: 40px;
    background-color: rgba(81, 0, 231, 0.795);
    border: 0px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.text button:hover{
    background-color: rgb(52, 0, 148);
}
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2 img{
    background-image: url(./about.jpg);
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
} 
.section2 h1{
    font-size: 28px;
    margin-top: 40px;
}
.head::after {
    content: '';
    display: block;
    width: 100%; 
    height: 3px; 
    background-color: #4070f4; 
    margin-top: 5px;
}


.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin:60px 0px;
}

.about-me{
    width: 600px;
    height: 400px;
}
.header{
    margin-bottom: 10px;
    color: darkblue;
}

.bio{
    font-size: 18px;
    line-height: 1.5;
}
.resume{
    margin-top: 10px;
    width: 130px;
    height: 40px;
    background-color: rgba(81, 0, 231, 0.795);
    border: 0px;
    color: white;
    font-size: 20px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}
.resume:hover{
    background-color:white;
    border: 2px solid  rgba(81, 0, 231, 0.795);
    color: darkblue;
}
.container-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: -160px;
    /* margin-left: -20px; */
}

.box {
    width: 50%; 
    display: flex; /* Add display flex */
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    padding: 10px 2px;
    gap: 10px;

}
.box:hover{
    /* border-color: red; */
    background-color: #4070f442;
    cursor: pointer;
    border-radius: 10px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1050px;
    gap: 50px;
    margin-top: 60px;
    font-weight: 100;
}
.row div {
    text-align: center;
    padding: 0 10px;  
    border: 1px solid transparent; 
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    transition: all 0.3s ease-in;
}
.row div:hover{
    background-color: rgba(81, 0, 231, 0.795);
}
.icon{
    background-color:  rgba(81, 0, 231, 0.795);;
    border-radius: 50%;
    padding: 20px;
    color: white;
    margin-bottom: -30px;
}
.row h1,p{
    font-weight: 100;
}
.row h1{
    margin-bottom: 10px;
}
.row div:hover h1{
    color: white;
}
.row div:hover p{
    color: white;
}
.row div:hover .icon{
    background-color:white;
    color:rgba(81, 0, 231, 0.795);
}
.footer-div{
    width: 900px;
    margin:20px 0px;
}
.footer{
    background-color:rgb(237, 249, 252);
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
}
.footer-span{
    width: 100%;
    /* background-color: rgba(81, 0, 231, 0.795); */
    background-color:  #333;
    text-align: center;
    height: 50px;
    color: white;
    line-height: 50px;
}
.footer-span a{
    color:green;
}
@media screen and (max-width: 420px) {
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 20px;
    }

    .navbar h2 {
        margin-left: 0;
        margin: 10px 0px;
        color: rgba(81, 0, 231, 0.795);;
    }

    .media-icons {
        margin-left: 0px;
        margin-top: 10px ;
    }

    .profile {
        height: 400px;
        padding: 150px 20px;
    }

    .text {
        padding: 20px 20px;
        text-align: center;
    }

    .text h1 {
        font-size: 40px;
        color: green;
    }

    .text h2 {
        font-size: 25px;
    }

    .text button {
        margin-top: 20px;
       margin: 20px auto ;
    }

    .section2 {
        padding: 0 10px;
    }

    .second {
        padding: 20px; 
        margin-bottom: -80px;
    }

    .second .about {
        flex-direction: column;
        gap: 20px;
    }

    .second .about .about-me {
        width: 90%; 
    }
    .second .bio{
        font-size: 12px;
    }


    .container-box {
        margin-top: -100px;
    }

    .box {
        width: 100%;
    }

    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 30px;
    }

    .row div {
        width: 90%;
        padding: 20px;
    }

    .row h1,
    .row p {
        font-size: 16px;
    }

    .footer-div {
        width: 100%;
    }
}
@media screen and (max-width: 720px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 20px;
    }

    .navbar h2 {
        margin-left: 0;
        margin: 10px 0px;
        color: rgba(81, 0, 231, 0.795);
    }

    .media-icons {
        margin-left: 0px;
        margin-top: 10px;
    }

    .profile {
        height: 300px;
        padding: 100px 10px;
    }

    .text {
        padding: 20px 10px;
        text-align: center;
    }

    .text h1 {
        font-size: 30px;
    }

    .text h2 {
        font-size: 20px;
    }

    .text button {
        margin-top: 10px;
    }

    .section2 img {
        height: 200px;
        width: 200px;
    }

    .section2 h1 {
        font-size: 20px;
    }

    .second {
        padding: 10px;
        margin-bottom: -30px;
    }

    .second .about .about-me {
        width: 100%;
    }

    .second .bio {
        font-size: 10px;
    }

    .container-box {
        margin-top: -100px;
    }

    .box {
        width: 100%;
    }

    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 20px;
    }

    .row div {
        width: 90%;
        padding: 20px;
    }

    .row h1,
    .row p {
        font-size: 16px;
    }

    .footer-div {
        width: 100%;
    }
}

@media screen and (max-width: 900px)  {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 20px;
    }

    .navbar h2 {
        margin-left: 0;
        margin: 10px 0px;
        color: rgba(81, 0, 231, 0.795);
    }

    .media-icons {
        margin-left: 0px;
        margin-top: 10px;
    }

    .profile {
        height: 400px;
        padding: 150px 20px;
    }

    .text {
        padding: 20px 20px;
        text-align: center;
    }

    .text h1 {
        font-size: 40px;
        color: green;
    }

    .text h2 {
        font-size: 25px;
    }

    .text button {
        margin-top: 20px;
        margin: 20px auto;
    }

    .section2 {
        padding: 0 10px;
    }

    .second {
        padding: 20px;
        margin-bottom: -80px;
    }

    .second .about {
        flex-direction: column;
        gap: 20px;
    }

    .second .about .about-me {
        width: 90%;
    }
    .second .bio {
        font-size: 12px;
    }

    .container-box {
        margin-top: -100px;
    }

    .box {
        width: 100%;
    }

    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 30px;
    }

    .row div {
        width: 90%;
        padding: 20px;
    }

    .row h1,
    .row p {
        font-size: 16px;
    }

    .footer-div {
        width: 100%;
    }
}
